{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% load static %}
<div class="header">
    {% block header %}
    <a href="{% url 'main' %}">Home </a>
    <a href="{% url 'site_description' %}">About </a>
    {% endblock %}
</div>
{% block content %}
    <div class="content-section">
    <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
    </div>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Ваш профиль</legend>
              {{ user_form.as_p }}
              {{ profile_form.as_p }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Обновить</button>
          </div>
      </form>
    </div>

{% endblock %}
