<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Educational Blog</title>
</head>
<body>
<div class="header">
    {% block header %}
            <a href="{% url 'main' %}">Home </a>
            <a href="{% url 'logout' %}">Logout </a>
                <a href="{% url 'create' %}">Create Post </a>
            <a href="{% url 'login' %}">Log In </a>
            <a href="{% url 'register' %}">Sign up </a>
    {% endblock %}
</div>
<div class="main">
{% block content %}
{% endblock %}
</div>
</body>
</html>