<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Educational Blog</title>
</head>
<body>
<div class="header">
    {% block header %}
        {% if user.is_authenticated %}
            <a href="{% url 'main' %}">Home </a>
            <a href="{% url 'logout' %}">Logout </a>
            <a href="{% url 'create' %}">Create Post </a>
                {% if not user.is_superuser %}
                    {{ user }}
                {% else %}
                    ADMIN {{ user }}
                {% endif %}
        {% else %}
            <a href="{% url 'login' %}">Log In </a>
            <a href="{% url 'register' %}">Sign up </a>
            <p>User {{ user }}</p>
        {% endif %}
    {% endblock %}
</div>
<div class="main">
{% block content %}
    <h1>{{post.topic}}</h1>
        {{post.text}}
{% endblock %}
</div>
</body>
</html>