{% extends 'base.html' %}
{% block title %}Watch Blog{% endblock %}
<div class="header">
    {% block header %}
    <a href="{% url 'main' %}">Home </a>
    <a href="{% url 'site_description' %}">About </a>
    {% endblock %}
</div>
{% block content %}
    {% if post.visible %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.text }}</p>
  {% else %}
    <p>Page Not Found</p>
  {% endif %}
<h4>Comments</h4>
<form action="" method="post">
    {% csrf_token %}
    {% if comment %}
        {% for obj in comment %}
            Author: {{ obj.user }} <br>
            {{ obj.text }} <br><br>
            Created: {{ obj.date_create }}
        {% endfor %}
    {% endif %}
    {{ form.as_p }}
    <input type="submit" value="Send">
</form>
{% endblock %}