{% extends 'base.html' %}
{% block title %}Watch Blog{% endblock %}
<div class="header">
    {% block header %}
    <a href="{% url 'main' %}">Home </a>
    <a href="{% url 'site_description' %}">About </a>
    {% endblock %}
</div>
{% block content %}
    <div class="main_form">
    <h2>See Blog Details</h2>
        <h1>{{post.topic}}</h1>
            {{post.text}}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Close</button>
    </form>
    </div>
{% endblock %}